<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanxi.lvliang.commodity.account.mapper.UserInfoDOMapper">
  <resultMap id="BaseResultMap" type="com.shanxi.lvliang.commodity.account.entity.dataobj.UserInfoDO">
    <result column="pk_user_id" jdbcType="BIGINT" property="pkUserId" />
    <result column="user_name_cn" jdbcType="VARCHAR" property="userNameCn" />
    <result column="user_name_en" jdbcType="VARCHAR" property="userNameEn" />
    <result column="user_login_phone" jdbcType="VARCHAR" property="userLoginPhone" />
    <result column="user_login_eimal" jdbcType="VARCHAR" property="userLoginEimal" />
    <result column="user_login_password" jdbcType="VARCHAR" property="userLoginPassword" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="is_used" jdbcType="VARCHAR" property="userStatus" />
    <result column="user_create" jdbcType="TIMESTAMP" property="userCreate" />
    <result column="user_modified" jdbcType="TIMESTAMP" property="userModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pk_user_id, user_name_cn, user_name_en, user_login_phone, user_login_eimal, user_login_password, 
    user_type, is_used, user_create, user_modified
  </sql>
  <select id="selectByExample" parameterType="com.shanxi.lvliang.commodity.account.entity.dataobj.UserInfoDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.shanxi.lvliang.commodity.account.entity.dataobj.UserInfoDOExample">
    delete from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shanxi.lvliang.commodity.account.entity.dataobj.UserInfoDO">
    insert into user_info (pk_user_id, user_name_cn, user_name_en, 
      user_login_phone, user_login_eimal, user_login_password, 
      user_type, is_used, user_create, 
      user_modified)
    values (#{pkUserId,jdbcType=BIGINT}, #{userNameCn,jdbcType=VARCHAR}, #{userNameEn,jdbcType=VARCHAR}, 
      #{userLoginPhone,jdbcType=VARCHAR}, #{userLoginEimal,jdbcType=VARCHAR}, #{userLoginPassword,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, #{userCreate,jdbcType=TIMESTAMP},
      #{userModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shanxi.lvliang.commodity.account.entity.dataobj.UserInfoDO">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkUserId != null">
        pk_user_id,
      </if>
      <if test="userNameCn != null">
        user_name_cn,
      </if>
      <if test="userNameEn != null">
        user_name_en,
      </if>
      <if test="userLoginPhone != null">
        user_login_phone,
      </if>
      <if test="userLoginEimal != null">
        user_login_eimal,
      </if>
      <if test="userLoginPassword != null">
        user_login_password,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="userStatus != null">
        is_used,
      </if>
      <if test="userCreate != null">
        user_create,
      </if>
      <if test="userModified != null">
        user_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkUserId != null">
        #{pkUserId,jdbcType=BIGINT},
      </if>
      <if test="userNameCn != null">
        #{userNameCn,jdbcType=VARCHAR},
      </if>
      <if test="userNameEn != null">
        #{userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="userLoginPhone != null">
        #{userLoginPhone,jdbcType=VARCHAR},
      </if>
      <if test="userLoginEimal != null">
        #{userLoginEimal,jdbcType=VARCHAR},
      </if>
      <if test="userLoginPassword != null">
        #{userLoginPassword,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="userCreate != null">
        #{userCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="userModified != null">
        #{userModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shanxi.lvliang.commodity.account.entity.dataobj.UserInfoDOExample" resultType="java.lang.Long">
    select count(*) from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_info
    <set>
      <if test="record.pkUserId != null">
        pk_user_id = #{record.pkUserId,jdbcType=BIGINT},
      </if>
      <if test="record.userNameCn != null">
        user_name_cn = #{record.userNameCn,jdbcType=VARCHAR},
      </if>
      <if test="record.userNameEn != null">
        user_name_en = #{record.userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.userLoginPhone != null">
        user_login_phone = #{record.userLoginPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userLoginEimal != null">
        user_login_eimal = #{record.userLoginEimal,jdbcType=VARCHAR},
      </if>
      <if test="record.userLoginPassword != null">
        user_login_password = #{record.userLoginPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null">
        is_used = #{record.userStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userCreate != null">
        user_create = #{record.userCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userModified != null">
        user_modified = #{record.userModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_info
    set pk_user_id = #{record.pkUserId,jdbcType=BIGINT},
      user_name_cn = #{record.userNameCn,jdbcType=VARCHAR},
      user_name_en = #{record.userNameEn,jdbcType=VARCHAR},
      user_login_phone = #{record.userLoginPhone,jdbcType=VARCHAR},
      user_login_eimal = #{record.userLoginEimal,jdbcType=VARCHAR},
      user_login_password = #{record.userLoginPassword,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=VARCHAR},
      is_used = #{record.userStatus,jdbcType=VARCHAR},
      user_create = #{record.userCreate,jdbcType=TIMESTAMP},
      user_modified = #{record.userModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>